<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427200713541-h2geh0ih1e54rfs2hanu6t0sf2kl4er5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427200713541-h2geh0ih1e54rfs2hanu6t0sf2kl4er5</string>
	<key>API_KEY</key>
	<string>AIzaSyB2yD3_SSzlJeKOttQ-QTX9BipVyNqKtBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>427200713541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Salah.Azoz.Recipe</string>
	<key>PROJECT_ID</key>
	<string>recipe-4f01a</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-4f01a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427200713541:ios:d339636ed2ec982377e42c</string>
</dict>
</plist>